name: Generate Datas

on:
  schedule: # execute every 12 hours
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest
    steps:
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk@v3
        with:
          github_user_name: AndrxwWxng
          outputs: |
            dist/github-snake.svg?color_snake=#4b91f1&color_dots=#e3f2ff,#bfdcff,#8cbcff,#5a9cff,#2a7bff
            dist/github-snake-dark.svg?palette=github-dark&color_snake=#58a6ff&color_dots=#0d1117,#161b22,#1f2933,#264766,#58a6ff
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
